* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #00B4DB, #0083B0);
}

h1 {
    margin-top: 20px;
    font-size: 60px;
    color: #512DA8;
    font-family: 'Courgette', cursive;
}

h2 {
    font-size: 70px;
    font-family: 'Courgette', cursive;
    color: #fff;
}

h3 {
    font-size: 45px;
    margin-top: 10px;
    margin bottom: 10px;
    color: #000;
    font-family: 'Great Vibes', cursive;
}

.middle-container {
    height: 350px;
    width: 550px;
    margin: 0 auto 0 auto;
}

.dice-img {
    height: 150px;
    width: 150px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.dice1 {
    height: 150px;
    width: 150px;
}

.dice2 {
    height: 150px;
    width: 150px;
    position: relative;
    left: 400px;
    bottom: 160px;
}
